<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="main w-full h-screen bg-zinc-900" >
    <form action="/login" method="post" class="text-white">
      <input  class="px-5 py-2 text-s rounded-md bg-zinc-600 " type="email" placeholder=" Email" name="email">
      <input  class="px-5 py-2 text-s rounded-md bg-zinc-600" type="password" placeholder="password" name="password">
      <input type="submit" class="px-6 bg-blue-600 py-1 rounded-md" value="login" >
    </form>
  </div>


  <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>